<%-include('../includes/head.ejs')%>
<body>
  <%-include('../includes/navigate.ejs')%>

  <% if(errorMessage) {%>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <%}%>
    <h1 class="title-signUp text-center">Sign In</h1>
    <form class="form-signIn" action="/login" method="POST">
      <div class="form-control">
          <label for="email" class="email">E-Mail</label>
          <input 
              class="input-email_login font-size <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
              type="email" 
              name="email" 
              id="email" 
              value="<%= oldInput.email %>">
      </div>
      <div class="form-control">
          <label for="password" class="password">Password</label>
          <input 
              class="input-password_login font-size  <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
              type="password" 
              name="password" 
              id="password" 
              value="<%= oldInput.password %>">
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="btn-login" type="submit">Login</button>
  </form>
  <p class="have-account">
    Haven't Account? <a href="/signup">signup here...</a>
  </p>
<%-include('../includes/end.ejs')%>